vendor/
node_modules/
npm-debug.log

.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
.DS_Store
/work/components/nginx/config/vhost