server {
    listen       80;
    server_name  localhost;
    root  /etc/nginx/html;

    #charset koi8-r;

    #access_log  /var/log/nginx/host.access.log;
    #error_log  /var/log/nginx/host.error.log;

    # rewrite config
    # 
    # include /etc/nginx/rewrite/wordpress.conf;
    # include /etc/nginx/rewrite/laravel.conf;
    # include /etc/nginx/rewrite/thinkphp.conf;
    # ...
    location / {
        root   html;
        index  index.php index.html index.htm;
    }

    #error_page  404 /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }

    # proxy the PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}

    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    # 
    # Or include php56.conf php72.conf php74.conf php80.conf php81.conf php82.conf
    # 
    # include /etc/nginx/rewrite/php56.conf;
    # include /etc/nginx/rewrite/php72.conf;
    # include /etc/nginx/rewrite/php74.conf;
    # include /etc/nginx/rewrite/php80.conf;
    # include /etc/nginx/rewrite/php81.conf;
    # include /etc/nginx/rewrite/php82.conf;
    # include /etc/nginx/rewrite/php83.conf;
    # include /etc/nginx/rewrite/php84.conf;
    # 
    location ~ \.php$ {
        fastcgi_pass   php81:9000;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    #location ~ /\.ht {
    #    deny  all;
    #}
}